body{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
}
#title{
    color: white;
}
a{
    color: white;    
}
a:hover{
    color:red;
}
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}
#main-header{
    background-color: gray;
}
#navbar{
    background-color: #333;
    color:#fff;
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display: inline-block;
    text-align: center;
    background-color: #555;
    border-radius: 5px;
    margin-right: 10px;
}
#navbar li:hover{
    background-color:lightslategray;
}
#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
#showcase{
    background-image: url('../images/showcase.jpg');
    opacity: 0.8;
    background-position: center center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#a-projects{
    color:midnightblue;
}
#a-projects:hover{
    color:red;
}
#showcase h1{
    color:white;
    font-size: 60px;
    line-height: 1.0em;
    padding-top:20px;
}
.main{
    float:left;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.main-sidebar{
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box; 
}
.main-image-left{
    position: relative;
    width: 640px;
    height: 360px;
}
.main-project-image{
    width: 30%;
    float: left;
}
.main-project-text{
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding-left: 20px;
}
#main-projects{
    margin-top: 20px;
}
.sidebar{
    float:right;
    background: #333;
    color:#fff;
    width: 30%;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
}
#sidebar-SQLGenerator{
    margin-top: 110px;
    background-color: lightgray;
    color: #555;
    font-weight: bold;
    border-left: 8px midnightblue solid;
    border-bottom: 4px midnightblue solid;
}
#sidebar-other{
    margin-top: 30px;
    background-color: lightgray;
    color: #555;
    font-weight: bold;
    border-left: 8px midnightblue solid;
    border-bottom: 4px midnightblue solid;
}
#main-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.floating-button{
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    display: block;
}
.fixed-social-media{
    margin:0;
    padding: 0;
    position: fixed;
    top:40%;
    width: 50px;
    height: 250px;
}
#fixed-github{
    background-image: url('../images/github.png');
}
#fixed-linkedin{
    background-image: url('../images/linkedin.png');
}
#fixed-facebook{
    background-image: url('../images/facebook.png');
}
#fixed-email{
    background-image: url('../images/gmail.png');
}
#fixed-instagram{
    background-image: url('../images/instagram.png');
}

@media(max-width:900px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
    .main-project-image{
        width: 100%;
        float: none;
    }
    .main-project-text{
        width: 100%;
        float: none;
        box-sizing: border-box;
        padding-left: 0;
    }
}
@media(max-width: 600px){
    body{
        font-size: 14px;
    }
}
@media(max-width: 700px){
    .sidebar{
        float:left;
        width: 100%;
        box-sizing: border-box;
    }
    #sidebar-SQLGenerator{
        margin-top: 30px;
    }
    #showcase h1{
        font-size: 40px;
    }
}